@inherits LayoutComponentBase

<PageTitle>ABSmartlyExamples.SkiResortApp</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            ABSmartly examples - Ski Resort Booking
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>